
.carrousel{
    margin-top: 8%;
    margin-left: 2%;
    margin-right: 2%;
}

.titleMain{
    text-align: center;
    margin-top: 50px;
}

.atrações{
    margin-top: 50px;
    margin-left: 5%;
    margin-bottom: 5%;
}